.booking-history thead tr th {
  background-color: #06121e;
  color: #fff;
}
.booking-history tbody tr td {
  background-color: #0f2133;
  color: #fff;
}
.booking-history .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #1c3d5d;
}
