.profile {
  background-image: url("../../assets/images/bg.jpg");
}

.profile .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background-color: #0f2133;
}
.profile .ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 5px;
}
.profile .ant-tabs-left > .ant-tabs-content-holder {
  margin-left: 50px;
  border-radius: 5px;
  border: solid white 1px;
}

.profile
  .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0;
}

.profile label {
  color: #fff;
}

.profile .fullname .anticon svg {
  color: #fff;
}

.profile .phone span {
  color: #000;
}

.profile .ant-tabs-extra-content {
  width: 100%;
}

.profile .log-out {
  border: solid 1px white;
  padding: 8px 16px;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  background-color: #0f2133;
}
.profile .log-out:hover {
  color: #dcf836;
}
