.ghe {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 12px;
  /* background-color: rgb(123, 122, 122); */
  color: rgb(2, 2, 2);
}
.gheVip {
  color: rgb(228, 78, 8);
}

.gheDaDat {
  color: grey;
  cursor: no-drop !important;
}

.gheDangDat {
  color: rgb(18, 176, 18);
}
